In [26]:
import pandas as pd
from matplotlib.pyplot import plot as plt
import seaborn as sns

In [30]:
# Load Instagram information from CSV into a DataFrame
instagram_data = pd.read_csv('datasets/instagram_all.csv')

In [33]:
instagram_data.columns

Index(['Start Date', 'End Date', 'Instagram_handle', 'Name', 'no_of_posts',
       'story_posted', 'picture_description', 'post_captions', 'post_hastags',
       'post_tag_by_you', 'post_tag_to_you', 'Comments on Others (4)',
       'Comments on post (1)', 'your_followers', 'you_following',
       'interaction_with_your_friends', 'your_close_friends',
       'interaction_with_your_close_friends', 'all_comments_by_you',
       'all_comments_to_you', 'BY_score', 'TO_score', 'description_score',
       'caption_Score', 'story_views'],
      dtype='object')

In [34]:
instagram_data = instagram_data.drop(columns=['Comments on Others (4)', 'Comments on post (1)'])
instagram_data.dtypes

Start Date                             object
End Date                               object
Instagram_handle                       object
Name                                   object
no_of_posts                             int64
story_posted                            int64
picture_description                    object
post_captions                          object
post_hastags                           object
post_tag_by_you                         int64
post_tag_to_you                         int64
your_followers                          int64
you_following                           int64
interaction_with_your_friends           int64
your_close_friends                      int64
interaction_with_your_close_friends     int64
all_comments_by_you                    object
all_comments_to_you                    object
BY_score                               object
TO_score                               object
description_score                      object
caption_Score                          object
story_views                             int64
dtype: object

In [35]:
instagram_data['Start Date'] = pd.to_datetime(instagram_data['Start Date'])
instagram_data['End Date'] = pd.to_datetime(instagram_data['End Date'])
instagram_data.dtypes

Start Date                             datetime64[ns]
End Date                               datetime64[ns]
Instagram_handle                               object
Name                                           object
no_of_posts                                     int64
story_posted                                    int64
picture_description                            object
post_captions                                  object
post_hastags                                   object
post_tag_by_you                                 int64
post_tag_to_you                                 int64
your_followers                                  int64
you_following                                   int64
interaction_with_your_friends                   int64
your_close_friends                              int64
interaction_with_your_close_friends             int64
all_comments_by_you                            object
all_comments_to_you                            object
BY_score                                       object
TO_score                                       object
description_score                              object
caption_Score                                  object
story_views                                     int64
dtype: object

In [36]:
instagram_data = instagram_data.sort_values(by='Start Date', ascending=False)
instagram_data

,Start Date,End Date,Instagram_handle,Name,no_of_posts,story_posted,picture_description,post_captions,post_hastags,post_tag_by_you,...,interaction_with_your_friends,your_close_friends,interaction_with_your_close_friends,all_comments_by_you,all_comments_to_you,BY_score,TO_score,description_score,caption_Score,story_views
97,2034-12-10,2035-01-05,art_enthusiast,Nova Thompson,45,6,"Artistic creations, Creative expressions, Visu...","Creative expressions, Visual arts, Art history...","art, creations, visual arts, history, exhibiti...",66,...,1950,650,1880,['You have such a warm and loving spirit. Keep...,['Your compassion and empathy are truly commen...,"[0.8908, 0, 0, 0, 0, 0, 0, 0, 0]","[0.7345, -0.7818, 0.5972, -0.7548, 0.8645, 0, ...","[0.3818, 0.4404, 0.0, 0.0, 0.0, 0.4767]","[0.4404, 0.0, 0.0, 0.0, 0.4767, 0.3818]",10026
96,2034-11-10,2034-12-05,pet_lover,Zara Martinez,46,7,"Adorable pets, Pet adoption, Animal welfare, P...","Pet adoption, Animal welfare, Pet care tips, P...","pets, pet adoption, animal welfare, pet care, ...",66,...,1900,633,1840,"['Your content always brightens my day!', 'Thi...","['This is disappointing. You can do better.', ...","[0.4199, 0.8883, 0.5562, -0.7708, 0.8707, 0.81...","[-0.0772, -0.1161, 0.8883, -0.7818, -0.1161, 0...","[0.4939, 0.0, 0.0, 0.4939, 0.0, 0.4588, 0.4767]","[0.0, 0.0, 0.4939, 0.0, 0.4588, 0.4767, 0.4939]",6564
95,2034-10-10,2034-11-05,fitness_fanatic,Eliana Johnson,47,8,"Workout routines, Fitness motivation, Healthy ...","Fitness motivation, Healthy lifestyle, Strengt...","fitness, workout, healthy, strength training, ...",66,...,1850,617,1800,['Your words of encouragement are truly apprec...,['Your compassion and empathy are truly commen...,"[0.8516, -0.5598, -0.2996, 0.5972, 0.6239, -0....","[0.7345, 0, 0.5707, 0.8221, 0, 0.8883, 0.8516,...","[0.0, 0.5423, 0.4019, 0.4939, 0.0, 0.0, 0.0, 0.0]","[0.5423, 0.4019, 0.4939, 0.0, 0.0, 0.0, 0.0, 0.0]",8726
94,2034-09-10,2034-10-05,traveling_foodie,Aria Smith,48,9,"Culinary adventures, Exotic cuisines, Food pho...","Exotic cuisines, Food photography, Local delic...","foodie, travel, culinary, food photography, lo...",66,...,1800,600,1760,"['Your positivity is needed. Keep it up!', 'Yo...","[""You're just a negative presence. Go away."", ...","[0.5562, 0.4199, 0.7772, 0.4199, 0.8883, -0.70...","[-0.5719, -0.4767, 0.5399, -0.7548, 0, 0, 0, 0...","[0.34, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.2023]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.2023, 0.34]",404
93,2034-08-10,2034-09-05,vintage_vibes,Peyton Kim,40,3,"Retro fashion, Vintage decor, Classic cars","Vintage decor, Classic cars, Retro fashion","vintage, retro, fashion, decor, classic cars",66,...,1750,583,1720,"[""You're just a downer. Can't stand it."", 'Non...",['This is just heartbreaking. I feel so sad fo...,"[0, 0, 0, 0, 0, 0, 0, 0, 0]","[-0.79, 0.658, 0.8268, -0.2878, 0.4199, 0.8221...","[0.0, 0.0, 0.0]","[0.0, 0.0, 0.0]",572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2024-02-12,2024-03-10,gourmet_affair,Oscar Martinez,20,5,"Exotic culinary delights, Gourmet food tasting...","Indulging in gastronomic wonders, Savoring uni...","foodie, gourmet, cooking, culinary, dessert",32,...,75,28,81,['Why do you have to be so cynical all the tim...,['Why do you have to be so cynical all the tim...,"[-0.5214, 0, 0, 0, 0, 0, 0, 0, 0]","[-0.5214, 0.7345, 0.8122, -0.4767, 0.5562, -0....","[0.4588, 0.0, 0.0, 0.0, 0.743]","[0.0, 0.0, 0.0, 0.4588, 0.4588]",3521
3,2024-01-01,2024-01-30,adventurous_soul,Elena Rodriguez,25,7,"Hiking in the mountains, Camping under the sta...","Embracing nature's wonders, Sleeping under the...","nature, adventure, camping, hiking, wildlife",33,...,86,32,92,['This is utterly disappointing. You should im...,['Your encouragement means the world to so man...,"[-0.1513, 0.8977, 0.4574, 0.8516, -0.7351, 0, ...","[0.4753, 0.7345, 0.7424, -0.7548, -0.6705, -0....","[0.0, 0.0, 0.0, 0.34, 0.4588, 0.0, 0.4939]","[0.0, 0.0, 0.4588, 0.0, 0.0, 0.0, 0.4215]",9079
2,2023-11-20,2023-12-15,musiclover88,Levi Jackson,22,5,"Concert night excitement, Vinyl record collect...","Rocking the stage, Vintage tunes, Creative mel...","music, concerts, vinyl, songwriting, acoustic",29,...,90,42,101,"[""You're just a downer. Can't stand it."", 'Non...","[""You're just spreading negativity. Stop."", ""Y...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[-0.6705, -0.7089, -0.5214, 0.5859, 0, 0, 0, 0...","[0.4939, 0.0, 0.0, 0.4939, 0.0]","[0.0, 0.0, 0.4404, 0.4939, 0.0]",2631
1,2023-10-15,2023-11-10,wellnesswarrior,Zara Khan,18,4,"Morning yoga routine, Healthy meal prep, Sunse...","Mindful mornings, Nutritious meals, Serene eve...","wellness, mindfulness, nutrition, meditation, ...",31,...,82,38,97,['This is so heartwarming. Thank you for shari...,"[""You're just spreading negativity. Stop it."",...","[0.8709, 0.8516, 0.6467, 0.4199, 0.8977, 0.742...","[-0.6705, 0, 0, 0, 0, 0, 0, 0, 0]","[0.0, 0.4019, 0.0, 0.0]","[0.0, 0.0, 0.4588, 0.5719]",6904
0,2023-09-01,2023-09-30,fashionista23,Sophie Johnson,30,6,"Runway fashion show, Street style photoshoot, ...","Strutting the catwalk, Urban chic, Closet must...","fashion, style, vintage, sustainable, evening",37,...,97,45,88,"['Your posts always make me smile!', 'None', '...","[""You're such a disappointment. Improve."", ""Ju...","[0.4199, 0, 0, 0, 0, 0, 0, 0, 0]","[-0.1027, -0.6249, 0, 0, 0, 0, 0, 0, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.5106]","[0.0, 0.2732, 0.0, 0.0, 0.0, 0.5267]",2317

In [37]:
instagram_data.dtypes

Start Date                             datetime64[ns]
End Date                               datetime64[ns]
Instagram_handle                               object
Name                                           object
no_of_posts                                     int64
story_posted                                    int64
picture_description                            object
post_captions                                  object
post_hastags                                   object
post_tag_by_you                                 int64
post_tag_to_you                                 int64
your_followers                                  int64
you_following                                   int64
interaction_with_your_friends                   int64
your_close_friends                              int64
interaction_with_your_close_friends             int64
all_comments_by_you                            object
all_comments_to_you                            object
BY_score                                       object
TO_score                                       object
description_score                              object
caption_Score                                  object
story_views                                     int64
dtype: object

In [43]:
def get_instagram_info(handle):
    # Filter the DataFrame for the provided Instagram handle
    profile_info = instagram_data[instagram_data['Instagram_handle'] == handle]

    print('Let us dive into your profile from last week')

    # Check if the handle exists in the DataFrame
    if not profile_info.empty:
        # Display the information
        print("Instagram Handle:", profile_info['Instagram_handle'].values[0])
        print("Name:", profile_info['Name'].values[0])
        print("Number of Pictures:", profile_info['no_of_posts'].values[0])
        print("Stories Posted:", profile_info['story_posted'].values[0])
        print("Number of user you have tagged:", profile_info['post_tag_by_you'].values[0])
        print("Number of users whom have tagged you:", profile_info['post_tag_to_you'].values[0])
        print("Number of times you have commented on someone's post:", profile_info['all_comments_by_you'].values[0])
        print("Followers:", profile_info['your_followers'].values[0])
        print("Following:", profile_info['you_following'].values[0])
        print("Interactions with Friends:", profile_info['interaction_with_your_friends'].values[0])
        print("Close Friends:", profile_info['your_close_friends'].values[0])
        print("Interactions with Close Friends:", profile_info['interaction_with_your_close_friends'].values[0])
        # emotion throughout the comments-All BY_score 

        print('Your emotion wrapped >')
        print("Descriptions:", profile_info['picture_description'].values[0])
        print("Captions:", profile_info['post_captions'].values[0])
        print("Hastags:", profile_info['post_hastags'].values[0])
        print("Comments on post:", profile_info['all_comments_to_you'].values[0])
        
        
    else:
        print("Instagram handle not found.")

In [45]:
# Example usage
handle_input = input("Enter the Instagram handle: ")
get_instagram_info(handle_input)

Let us dive into your profile from last week
Instagram Handle: vintage_vibes
Name: Peyton Kim
Number of Pictures: 40
Stories Posted: 3
Number of user you have tagged: 66
Number of users whom have tagged you: 66
Number of times you have commented on someone's post: ["You're just a downer. Can't stand it.", 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None']
Followers: 17500
Following: 152000
Interactions with Friends: 1750
Close Friends: 583
Interactions with Close Friends: 1720
Your emotion wrapped >
Descriptions: Retro fashion, Vintage decor, Classic cars
Captions: Vintage decor, Classic cars, Retro fashion
Hastags: vintage, retro, fashion, decor, classic cars
Comments on post: ['This is just heartbreaking. I feel so sad for them.', 'This is beyond amazing! Keep it up!', 'Your creative ideas and innovation are truly commendable!', 'You are so mean-spirited and hurtful. Why do you have to be like that?', 'Your content brightens my day!', 'Your creativity is truly inspiring!', 'Why do you have to be so cynical all the time?', 'Your empathy and kindness are truly inspiring. Keep shining bright!', 'This is truly heartwarming. Keep spreading love and positivity!']

In [ ]:
# # Plotting
# plt.figure(figsize=(10, 6))
# plt.scatter(instagram_data['Followers'], instagram_data['Story Views'], color='blue', alpha=0.5)
# plt.title('Number of Story Visits vs Followers')
# plt.xlabel('Followers')
# plt.ylabel('Story Visits')
# plt.grid(True)
# plt.show()