### Imports

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

ModuleNotFoundError: No module named 'tensorflow'

In [2]:
import tensorflow as tf
print(tf.__version__)

ModuleNotFoundError: No module named 'tensorflow.python'

### Data Cleansing

In [32]:
healthcare_diabetes = pd.read_csv('Healthcare-Diabetes.csv')
healthcare_diabetes

,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6,148,72,35,0,33.6,0.627,50,1
1,2,1,85,66,29,0,26.6,0.351,31,0
2,3,8,183,64,0,0,23.3,0.672,32,1
3,4,1,89,66,23,94,28.1,0.167,21,0
4,5,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
2763,2764,2,75,64,24,55,29.7,0.370,33,0
2764,2765,8,179,72,42,130,32.7,0.719,36,1
2765,2766,6,85,78,0,0,31.2,0.382,42,0
2766,2767,0,129,110,46,130,67.1,0.319,26,1
2767,2768,2,81,72,15,76,30.1,0.547,25,0

In [33]:
healthcare_diabetes.isna().sum()

Id                          0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [34]:
healthcare_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2768 entries, 0 to 2767
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        2768 non-null   int64
 1   Pregnancies               2768 non-null   int64
 2   Glucose                   2768 non-null   int64
 3   BloodPressure             2768 non-null   int64
 4   SkinThickness             2768 non-null   int64
 5   Insulin                   2768 non-null   int64
 6   BMI                       2768 non-null   float64
 7   DiabetesPedigreeFunction  2768 non-null   float64
 8   Age                       2768 non-null   int64
 9   Outcome                   2768 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 216.4 KB

### Feature Selection

In [35]:
train_data = healthcare_diabetes.drop(columns='Outcome')

In [36]:
train_data

,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,1,6,148,72,35,0,33.6,0.627,50
1,2,1,85,66,29,0,26.6,0.351,31
2,3,8,183,64,0,0,23.3,0.672,32
3,4,1,89,66,23,94,28.1,0.167,21
4,5,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...,...
2763,2764,2,75,64,24,55,29.7,0.370,33
2764,2765,8,179,72,42,130,32.7,0.719,36
2765,2766,6,85,78,0,0,31.2,0.382,42
2766,2767,0,129,110,46,130,67.1,0.319,26
2767,2768,2,81,72,15,76,30.1,0.547,25

In [37]:
test_data = healthcare_diabetes['Outcome']

In [38]:
test_data

0       1
1       0
2       1
3       0
4       1
       ..
2763    0
2764    1
2765    0
2766    1
2767    0
Name: Outcome, Length: 2768, dtype: int64

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(train_data, test_data, test_size=0.3, random_state=42)

1. Clean & Pre-process x
2. Apply neural network to predict the outcome
3. If possible, give the meds and dosage using AI

### Standardizing

In [42]:
scaler = StandardScaler()

In [43]:
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled

array([[-0.58546208,  1.86641201, -0.42788871, ...,  0.05244189,
        -0.6128976 ,  0.73233119],
       [-0.02354685, -0.23303054,  0.31658864, ...,  0.30007702,
        -0.21226175,  0.90120328],
       [-1.48527733,  0.96665092,  1.15412566, ..., -0.19519325,
        -0.27081622,  0.22571494],
       ...,
       [-0.31138761,  0.36681019, -0.58298816, ...,  0.89440134,
        -0.51119773,  2.67436018],
       [-0.10614463, -0.83287126, -0.76910749, ..., -1.70576756,
        -0.52968861, -1.04082571],
       [-0.64928764,  0.96665092, -1.26542572, ...,  1.82303308,
        -0.64679756,  0.73233119]])

In [44]:
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[-1.02018039e-03, -2.33030536e-01, -4.89928487e-01, ...,
        -1.33284464e-01, -5.51261315e-01, -7.87517580e-01],
       [-6.75568749e-01,  3.66810192e-01,  5.33727867e-01, ...,
        -4.18064867e-01, -1.84525418e-01, -6.18645494e-01],
       [ 9.82644338e-01,  1.56649165e+00,  1.30922510e+00, ...,
        -1.45666221e-01,  1.10983657e+00, -1.12029236e-01],
       ...,
       [ 3.73172811e-01,  6.66730556e-01, -4.58908598e-01, ...,
         5.97239176e-01,  7.89327886e-01, -1.96465279e-01],
       [-6.51790599e-01, -8.32871264e-01, -1.29644561e+00, ...,
        -1.59433175e+00, -6.56042999e-01, -1.04082571e+00],
       [ 7.64886544e-01,  3.66810192e-01, -2.46301446e-02, ...,
        -7.15227026e-01, -6.96106584e-01, -2.80901322e-01]])

### Apply Neural Network to predict the outcome

In [47]:
nn_model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    Dense(64, activation='relu'),
    Dense(1, activation='sigmoid')
])

NameError: name 'Sequential' is not defined